galois>=0.3.5
ImageHash>=4.3.1
iniconfig>=2.0.0
llvmlite>=0.40.1rc1
numba>=0.57.0
numpy>=1.24.3
opencv-python>=4.8.1.78
packaging>=23.1
pdqhash>=0.2.5
Pillow>=9.5.0
pluggy>=1.2.0
pytest>=7.4.0
PyWavelets>=1.4.1
scipy>=1.10.1
typing_extensions>=4.6.3
